BlamLib/LowLevel/Compression/LZMA/
OpenSauce/shared/Include/GameSpyOpen/
OpenSauce/shared/Include/7zip/
OpenSauce/shared/Include/mongoose/

shared/Resources/Halo1_CE/HCE_CommonData/
shared/Resources/Halo1_CE/HCE_InstallDir/
shared/Resources/Halo1_CE/HCE_UserPath/OpenSauce/shaders/
shared/Resources/Halo1_CheApe/HEK_InstallDir/tags/
shared/Resources/Installer/dxredist/
test_results/

bin\
lib\
obj\

*.user
*.ncb
*.sdf
*.suo
*.opensdf
*.aps
*.cache

*.psd
*.map
