<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<Fragment>
		<UI>
			<Dialog Id='HEKPathDialog' Width='370' Height='270' Title='[ProductName] Setup'>
				<Control Id='Next' Type='PushButton' X='236' Y='243' Width='56' Height='17' Default='yes' Text='!(loc.WixUINext)'>
					<Publish Event='NewDialog' Value='VerifyReadyDlg'>1</Publish>
				</Control>
				<Control Id='Back' Type='PushButton' X='180' Y='243' Width='56' Height='17' Text='!(loc.WixUIBack)'>
					<Publish Event='NewDialog' Value='CustomizeDlg'>1</Publish>
				</Control>
				<Control Id='Cancel' Type='PushButton' X='304' Y='243' Width='56' Height='17' Cancel='yes' Text='!(loc.WixUICancel)'>
					<Publish Event='SpawnDialog' Value='CancelDlg'>1</Publish>
				</Control>

				<Control Id='Title' Type='Text' X='15' Y='6' Width='200' Height='15' Transparent='yes' NoPrefix='yes' Text='{\WixUI_Font_Title}HEK Installation Paths' />
				<Control Id='Description' Type='Text' X='25' Y='23' Width='280' Height='15' Transparent='yes' NoPrefix='yes' Text='Set up the paths for creating the OS HEK executables' />
				<Control Id='BannerBitmap' Type='Bitmap' X='0' Y='0' Width='370' Height='44' TabSkip='no' Text='WixUI_Bmp_Banner' />
				<Control Id='BannerLine' Type='Line' X='0' Y='44' Width='370' Height='0' />
				<Control Id='BottomLine' Type='Line' X='0' Y='234' Width='370' Height='0' />
				
				<Control Id='DescriptionLabel' Type='Text' X='15' Y='60' Width='340' Height='30' NoPrefix='yes' Text='This installer will create the OpenSauce HEK Exes (Guerilla, Sapien and Tool) using the executables found in the default HEK directory. You can define the output directory below.' />
				
				<Control Id='OutputLabel' Type='Text' X='15' Y='96' Width='30' Height='18' NoPrefix='yes' Text='Output' />
				<Control Id='OutputPathEdit' Type='PathEdit' X='50' Y='94' Width='280' Height='18' Property='HALO1_CE_HEK_OUTPUTPATH_PROP' Indirect='no' />
				<Control Id='WixUI_Bmp_Up' Type='PushButton' X='330' Y='94' Width='19' Height='19' ToolTip='!(loc.BrowseDlgWixUI_Bmp_UpTooltip)' Icon='yes' FixedSize='yes' IconSize='16' Text='!(loc.BrowseDlgWixUI_Bmp_Up)'>
					<Publish Event='DirectoryListUp' Value='0'>1</Publish>
				</Control>
				<Control Id='OutputNewFolder' Type='PushButton' X='330' Y='112' Width='19' Height='19' ToolTip='!(loc.BrowseDlgNewFolderTooltip)' Icon='yes' FixedSize='yes' IconSize='16' Text='!(loc.BrowseDlgNewFolder)'>
					<Publish Event='DirectoryListNew' Value='0'>1</Publish>
				</Control>
				<Control Id='OutputDirectoryList' Type='DirectoryList' X='50' Y='112' Width='280' Height='102' Property='HALO1_CE_HEK_OUTPUTPATH_PROP' Sunken='yes' Indirect='no' TabSkip='no'>
					<ListBox Property='HALO1_CE_HEK_OUTPUTPATH_PROP' />
				</Control>

				<Control Id='CreateEXECheck' Type='CheckBox' X='50' Y='214' Width='280' Height='18' CheckBoxValue='0' Property='HALO1_CE_HEK_SKIPCREATEOSEXES_PROP' Text='Skip OpenSauce HEK exe creation' />

			</Dialog>
		</UI>
	</Fragment>
</Wix>