<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<Fragment>
		<UI>
			<Dialog Id='HEKPathMissingDialog' Width='370' Height='270' Title='[ProductName] Setup'>
				<Control Id='Next' Type='PushButton' X='236' Y='243' Width='56' Height='17' Default='yes' Text='!(loc.WixUINext)'>
					<Publish Event='NewDialog' Value='VerifyReadyDlg'>1</Publish>
				</Control>
				<Control Id='Back' Type='PushButton' X='180' Y='243' Width='56' Height='17' Text='!(loc.WixUIBack)'>
					<Publish Event='NewDialog' Value='OpenSauce_CustomizeDlg'>1</Publish>
				</Control>
				<Control Id='Cancel' Type='PushButton' X='304' Y='243' Width='56' Height='17' Cancel='yes' Text='!(loc.WixUICancel)'>
					<Publish Event='SpawnDialog' Value='CancelDlg'>1</Publish>
				</Control>

				<Control Id='Title' Type='Text' X='15' Y='6' Width='200' Height='15' Transparent='yes' NoPrefix='yes' Text='{\WixUI_Font_Title}HEK Installation Paths' />
				<Control Id='Description' Type='Text' X='25' Y='23' Width='280' Height='15' Transparent='yes' NoPrefix='yes' Text='Set up the paths for creating the OS HEK executables' />
				<Control Id='BannerBitmap' Type='Bitmap' X='0' Y='0' Width='370' Height='44' TabSkip='no' Text='WixUI_Bmp_Banner' />
				<Control Id='BannerLine' Type='Line' X='0' Y='44' Width='370' Height='0' />
				<Control Id='BottomLine' Type='Line' X='0' Y='234' Width='370' Height='0' />
				
				<Control Id='DescriptionLabel' Type='Text' X='15' Y='60' Width='340' Height='40' NoPrefix='yes'>
					<Text>The HEK executables (Guerilla, Sapien and Tool) could not be found in the HEK default directory. The OpenSauce HEK executables will therefore not be created by this installer. You can manually create the exe's using the OpenSauceIDE program after the installation is complete, if you have it installed.</Text>
				</Control>

			</Dialog>
		</UI>
	</Fragment>
</Wix>